* {
  text-align: center;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
  height: 25%;
}

#score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 1px solid grey;
  text-align: center;
  width: 100px;
  height: 50px;
}

.quizForm {
  display: none;
  margin-top: 25px;
}

