* {
  text-align: center;
}

body {
  background-image: url("https://user-images.githubusercontent.com/22334563/62798002-bf794000-bacc-11e9-8d10-ad0c517486a1.jpg");
  background-color: #cccccc;
}

main {
  background-color: beige;
  height: 180px;
  background: rgba(204, 204, 204, 0.8);
}

.answers {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  height: 250px; 
}

.answerOption {
  display: block;
  margin-left: 60px;
  text-align: left;
  align-items: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
  height: 25%;
  
}

#score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 1px solid grey;
  text-align: center;
  width: 100px;
  height: 50px;
}

.quizForm {
  display: none;
  margin-top: 25px;
}

.question {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

