* {
  text-align: center;
}


.answers {
   
  margin-left: 50px;
  /*
  margin-right: auto;
  */
  display: block;
  width: 200px;
  height: 200px;
  text-align: left;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
  height: 25%;
}

#score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 1px solid grey;
  text-align: center;
  width: 100px;
  height: 50px;
}

.quizForm {
  display: none;
  margin-top: 25px;
}

